
#wrapper {
    max-width : 1200px;
    padding: 1em auto;
}




.main-menu li {
    display:inline-block;
    margin-right :10em;
    background-color: #ccc;
    padding: 0.5em 7em ;
    margin: 1em 1em 1em 1em;
    
  }
  
  .dropdown {

    background-color : #e3e3e3;
    padding: 0;
    position: absolute;
    display:none;
  }
  
  .dropdown li{
    display: block;
    border :solid 1px #ccc;
    padding:1em 2em ;
    margin-right: 0,
    
  }
  
  .main-menu li:hover .dropdown {
    display: block;
  }
  
main {
padding : 5px;
}

.button {
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    
    min-width: 5em;
    height: 2em;
    margin:auto;
    border: none;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    transition: background-color 1s ease-in, box-shadow 1s ease-in,
    transform: 1s ease-in;
}

.button:hover {
    background-color: rgb(76, 101, 148);
    box-shadow: 0 5px 20px #999;
    transform: scale(1.05) translateY(5px); 
}



a{
    color: rgb(8, 8, 8);
    font-family: helvetica;
    font-weight: bold;
    text-decoration: none;
    

}

a :visited{
    color: rgb(156, 50, 85);
}

a:hover {
    color: blue;
}

a:active{
    color: red;
}

.topnav {
    background-color : #333;
    overflow : hidden;
    
    }

    .topnav a {
    float : right;
    color : #f2f2f2;
    text-align : center;
    padding : 14px 16px;
    text-decoration : none;
    font-size : 14px;
    }
    .topnav a:hover {
    background-color : #ddd;
    color : black;
    }
    .topnav a.active {
    background-color : #f2f2f2;
    color : rgb(158, 0, 186);
    text-decoration : underline;
    }

p, h1, h2, h3, h4 {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, h7 {
 font-weight: bold;
 font-family: helvetica;

}
h2 {
    font-size: 24px;
    margin: 1em;
    
   

}

 h3 {
    font-size: 30px ;
background-color: rgba(251, 248, 248, 0.034);
    position:absolute;
    margin: 1em 2em 10em 2em;
    height: 100px;
    width: 550px;
    padding:  1em;
    
 }
h4 {
    font-size: 16px;
}
 
.site-header{
    position: relative;
    display:flex;
    justify-content: space-between;
    padding: 
}


.menu {
    display: none;
    padding: 1em;
    margin: auto;
}

.show-menu {
    background-color: transparent;
}

.search-programs {
    min-height: 1em;
    border: solid 2px;
    margin: 1em;

    
}

.filters{
    font-family: helvetica;
}




.events-item {
    width: 100%;
}

@media (min-width:768px){

    .hero-banner {
        min-height: 12em;
        background-color: rgb(163, 213, 227);
        padding: 1em;
        margin-bottom: 1em;
        border: solid;
        border-width: 5px;
        width: 100%;
        
    }

   

    .show-menu{
        display: none;
    }
    .menu{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .menu li{
        display: inline;
        margin-right: 2em;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr 2fr ;
        grid-column-gap: 5em;
    }


} \\ media closed\\