
#wrapper {
    max-width : 1200px;
    padding: 1em;
}

p, h1, h2, h3, h4 {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, h7 {
 font-weight: bold;
 font-family: helvetica;

}
h2 {
    font-size: 24px;
    border: solid;
    padding: 1em;

}

 h3 {
    font-size: 30px ;
    background-color: rgb(11, 9, 25);
    position:absolute;
    margin: 1em 2em 10em 2em;
    height: 100px;
    width: 550px;
 }
h4 {
    font-size: 16px;
}
 
.site-header{
    display:flex;
    justify-content: space-between;
}


.menu {
    display: none;
}

.show-menu {
    background-color: transparent;
}

.search-programs {
    min-height: 8em;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.hero-banner {
    min-height: 12em;
    background-color: rgb(163, 213, 227);
    padding: 1em;
    margin-bottom: 1em;
    border: solid;
    border-width: 5px;
}

.events-item {
    width: 100%;
}

@media (min-width:768px){


    .show-menu{
        display: none;
    }
    .menu{
        display: flex;
    }

    .menu li{
        display: inline;
        margin-right: 2em;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr 2fr ;
        grid-column-gap: 5em;
    }


} \\ media closed\\