body{
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: red;
}

h2 {
    color: red;
}

h1 #site-title { color:red};

main-title.{
    color: red;
}

h3 { color:red}

h4 { color: red}