
body{
background-color: rgb(34, 34, 34);
}

p{
    margin-bottom: 5em;
    margin-left:auto
    
}

#wrapper {
    max-width: 1200px;
    margin:0 auto; /* first value is for top & bottom, second is for sides*/
    background-color: rgb(1, 1, 2);
    padding: .5em;


}
header p{
    font-size: 12pt;
    color: antiquewhite;
    font-family: sans-serif;
    text-align: left;
}

header {
  background: url(images/AHS.MMP.jpg) right top no-repeat;
  background-size: 60%  ;
    
}


/*navigation 
/* header banner style ***/
nav{
    background-color: rgb(176, 176, 176);
}

nav a{
    color: black;
    text-decoration: none;}

    nav a:hover{
      text-decoration: underline;

    }

    nav li{
        display:inline-block;
        margin-left: 1em;
        background-color: rgb(163, 2, 2);
    }

    
.col-left{
    float: left;
    width: 48%;
}
.col-right{
    float: right;
    width:48%;
}

footer{
    clear:both
}